<header>
	<div class="container">
		<ul class="nav nav-tabs nav-justified" id="menu">
			<li role="presentation"><a href="/">Get Users</a></li>
			<li role="presentation"><a href="/convert">Bulk Manage</a></li>
			<li role="presentation"><a href="/logout">Log Out</a></li>
		</ul>
	</div>	
</header>