<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bulk Migrate Atlassian Account</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" rel="preload" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" rel="preload" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<link rel="stylesheet" href="assets/style/style.css">
</head>
<body>
	<div class="container">
		<section class="row">
			<article>
				<form method="POST" action="/getUsers" enctype="multipart/form-data">
				<fieldset>
					<legend>Bulk manage Jira Service Desk customers</legend>
					<!-- In case there was an error to communicate to JIRA and get the hours show an error message -->
					{{# if error}}
					    <div class="row">
					      <div class="col-xs-12">
					        <div class="alert alert-warning" role="alert">
					          <strong>{{error}}</strong>
					        </div>
					      </div>
					    </div>
					 {{/if}}
					 <!-- User input for login -->
					 <div id="loginData" class="col-xs-12 col-md-8 col-md-offset-2">
					 	<div class="form-group">
							<label for="username">Instance CLOUD ID:</label>
							<input type="text" class="form-control" name="cloudID" id="cloudID" placeholder="Cloud ID" value="{{data.cloudID}}">
						</div>
						<div class="form-group">
							<label for="username">Customer Account Directory ID(Governator):</label>
							<input type="text" class="form-control" name="customerDirectory" id="customerDirectory" placeholder="Customer Directory ID" value="{{data.customerDirectory}}">
						</div>
						<div class="form-group">
							<label for="username">Cloud Session token:</label>
							<input type="text" class="form-control" name="token" id="token" placeholder="Token" value="{{data.cookieSession}}">
						</div>
						<div class="form-group">
							<label for="radio">Action:</label><br/>
							<input type="radio" required="required" name="action" value="activate"> Activate</input><br/>
							<!-- <input type="radio" required="required" name="action" value="deactivate" required"> Deactivate</input><br/> -->
							<input type="radio" required="required" name="action" value="migrate" required"> Migrate</input><br/>
							<input type="radio" required="required" name="action" value="delete" required"> Delete</input><br/>
						</div>						
						<div class="form-group">
							<p class="lead">The file is optional, if not provided the instance users will be listed</p>
							<input type="file" name="csv_file">
						</div>
						<div class="row">
					      <div class="col-xs-12">
					        <div class="alert alert-warning" role="alert">
					          Please make sure that your CSV file has at least a column named <strong>"username"</strong> and <strong>"email"</strong>.
					        </div>
					      </div>
					    </div>
					</div> <!-- end of login data -->
					<!-- User provides information related to the date of the report -->
					
					<div class="col-xs-12 col-md-8 col-md-offset-2">
						<div class="form-group">
							<button class="btn btn-primary btn-md submit" type="submit">Log in</button>					
						</div>
					</div> <!-- submit button end -->
				</fieldset>
			</form>
			</article>
		</section><!-- report conifg-->
	</div><!--.container-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>	
</body>
</html>